[submodule "zsh/autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "secrets"]
	path = secrets
	url = ./secrets
[submodule "ci/ci"]
	path = ci/ci
	url = https://github.com/nhooyr/ci.git
